In [ ]:
Name:Deepthi Gudibanda
    700732646

In [6]:
#Question 1

from statistics import median
import math
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
print("ages: ",ages)
#sort the ages list
ages.sort()
print("sorted ages: ",ages)
#Find min and max from ages
minimum=min(ages)
maximum=max(ages)
print("max: ",maximum)
print("min: ",minimum)
#add min and max again to the ages
ages.append(minimum)
ages.append(maximum)
print("Modified ages: ",ages)
#Find median of ages
print("median of ages: ",median(ages))
#Find average of ages
print("average of ages: ",sum(ages)/len(ages))
#Find range of ages
print("range of ages: ",maximum-minimum)

ages:  [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
sorted ages:  [19, 19, 20, 22, 24, 24, 24, 25, 25, 26]
max:  26
min:  19
Modified ages:  [19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 19, 26]
median of ages:  24.0
average of ages:  22.75
range of ages:  7

In [11]:
#Question 2

#Create empty dictionary dog
dog={}
#Add name, color, breed, legs, age to the dog dictionary
dog["name"]="Marley"
dog["color"]="White"
dog["breed"]="Bulldog"
dog["legs"]="Short"
dog["age"]=2
print("dog dictionary: ",dog)
#Create a student dictionary and add first_name, last_name, gender, age, marital status,
#skills, country, city and address as keys for the dictionary
student=dict()
student={"first_name":"Deepthi","last_name":"Gudibanda","gender":"Female","age":29,"marital status":"married",
         "skills":["Technical skills","Analytical skills","Presentation skills"],"country":"India",
         "city":"Hyderabad","address":"plot no3, Nagole , TS-500068"}
#Get the length of the student dictionary
print("length of student dictionary: ",len(student))
#Get the value of skills and check the data type, it should be a list
stu=student["skills"]
print("Value of student skills: ",stu)
print("Type of the skills: ",type(stu))
#Modify the skills values by adding one or two skills
stu.append("Management skills")
print("Modified skills: ",student["skills"])
#Get the dictionary keys as a list
print("keys: ",student.keys())
#Get the dictionary values as a list
print("Vlaues: ",student.values())

dog dictionary:  {'name': 'Marley', 'color': 'White', 'breed': 'Bulldog', 'legs': 'Short', 'age': 2}
length of student dictionary:  9
Value of student skills:  ['Technical skills', 'Analytical skills', 'Presentation skills']
Type of the skills:  <class 'list'>
Modified skills:  ['Technical skills', 'Analytical skills', 'Presentation skills', 'Management skills']
keys:  dict_keys(['first_name', 'last_name', 'gender', 'age', 'marital status', 'skills', 'country', 'city', 'address'])
Vlaues:  dict_values(['Deepthi', 'Gudibanda', 'Female', 29, 'married', ['Technical skills', 'Analytical skills', 'Presentation skills', 'Management skills'], 'India', 'Hyderabad', 'plot no3, Nagole , TS-500068'])

In [7]:
#Question 3

#Create a tuple containing names of your sisters and your brothers(imaginary siblings are
#fine)

siblings=tuple()
brothers=("Saikiran","Yugendher","Saiprakash","kranthi","Rajesh")
sisters=("Gouthami","Sirisha","niveditha","Premalatha")
print("brothers tuple is: ",brothers)
print("sisters tuple is: ",sisters)
#Join brothers and sisters tuples and assign it to siblings
siblings=brothers+sisters
print("siblings tuple is: ",siblings)
#How many siblings do you have?
print("How many siblings do you have? :- ",len(siblings))
#Modify the siblings tuple and add the name of your father and mother and assign it to
#family_members

temp=list(siblings)
temp.append("Krishnareddy")
temp.append("chandrakala")
family_members=tuple(temp)
print("family_members tuple: ",family_members)

brothers tuple is:  ('Saikiran', 'Yugendher', 'Saiprakash', 'kranthi', 'Rajesh')
sisters tuple is:  ('Gouthami', 'Sirisha', 'niveditha', 'Premalatha')
siblings tuple is:  ('Saikiran', 'Yugendher', 'Saiprakash', 'kranthi', 'Rajesh', 'Gouthami', 'Sirisha', 'niveditha', 'Premalatha')
How many siblings do you have? :-  9
family_members tuple:  ('Saikiran', 'Yugendher', 'Saiprakash', 'kranthi', 'Rajesh', 'Gouthami', 'Sirisha', 'niveditha', 'Premalatha', 'Krishnareddy', 'chandrakala')

In [8]:
#Question 4

it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]
print("The length of the set it_companies: ",len(it_companies))   #Find the length of the set it_companies
it_companies.add("Twitter") #Add 'Twitter' to it_companies
print(it_companies)
other={"Equifax","Charter","Mastercard"}
it_companies.update(other)       #Insert multiple IT companies at once to the set it_companies
print(it_companies)
it_companies.remove("Equifax")   #Remove one of the companies from the set it_companies
print(it_companies)
#What is the difference between remove and discard
print(''''The difference between remove and discard is if the item to be 
      deleted is not present in the set then discard raises an error where discard method will not raise an error.''')
temp=A.union(B)     #Join A and B
print("A union B is: ",temp)
temp=A.intersection(B)     #Find A intersection B
print("A intersection B is: ",temp)
print("Is A subset of B",A.issubset(B))   #Is A subset of B
print("Are A and B disjoint sets",A.isdisjoint(B))   #Are A and B disjoint sets
A.update(B)   #Join A with B
print("Join A with B: ",A)
B.update(A)   #Join B with A
print("Join B with A: ",B)
print("The symmetric difference between A and B",A.symmetric_difference(B)) #What is the symmetric difference between A and B
it_companies.clear(),A.clear(),B.clear()     #Delete the sets completely
print(it_companies)
print(A)
print(B)
age_set=set(age)   #Convert the ages to a set and compare the length of the list and the set.
print("ages set: ",age_set)
print("length of ages list: ",len(age))
print("length of ages set: ",len(age_set))

The length of the set it_companies:  7
{'Apple', 'IBM', 'Microsoft', 'Twitter', 'Google', 'Amazon', 'Facebook', 'Oracle'}
{'Apple', 'Microsoft', 'Equifax', 'Google', 'Mastercard', 'Facebook', 'Oracle', 'Twitter', 'Amazon', 'IBM', 'Charter'}
{'Apple', 'Microsoft', 'Google', 'Mastercard', 'Facebook', 'Oracle', 'Twitter', 'Amazon', 'IBM', 'Charter'}
'The difference between remove and discard is if the item to be
      deleted is not present in the set then discard raises an error where discard method will not raise an error.
A union B is:  {19, 20, 22, 24, 25, 26, 27, 28}
A intersection B is:  {19, 20, 22, 24, 25, 26}
Is A subset of B True
Are A and B disjoint sets False
Join A with B:  {19, 20, 22, 24, 25, 26, 27, 28}
Join B with A:  {19, 20, 22, 24, 25, 26, 27, 28}
The symmetric difference between A and B set()
set()
set()
set()
ages set:  {19, 22, 24, 25, 26}
length of ages list:  8
length of ages set:  5

In [1]:
#Question 5

rad=int(input("Enter radius of circle: "))
#Calculate the area of a circle and assign the value to a variable name of _area_of_circle_
_area_of_circle_=(3.14)*rad*rad
print("area of circle: ",_area_of_circle_)
#Calculate the circumference of a circle and assign the value to a variable name of
_circum_of_circle_=(3.14)*rad*2
print("circumference of circle: ",_circum_of_circle_)

Enter radius of circle: 30
area of circle:  2826.0
circumference of circle:  188.4

In [2]:
#Question 6

text="I am a teacher and I love to inspire and teach people"
t=text.split(" ")
print("Number of unique words in the given sentence: ",len(set(t)))

Number of unique words in the given sentence:  10

In [3]:
#Question 7

print("Name\t\tAge\tCountry\tCity\nAsabeneh\t250\tFinland\tHelsinki")

Name		Age	Country	City
Asabeneh	250	Finland	Helsinki

In [4]:
#Question 8

#The string formatting method to display the following
radius=10
area=3.14*radius**2
text="The area of a circle with radius {0} is {1} meters square".format(radius,area)
print(text)

The area of a circle with radius 10 is 314.0 meters square

In [10]:
#Question 9

N=int(input("Enter no of students: "))
print("Enter weights in lbs")
wts=list(map(int,input().split()))
nwts=[]
for i in wts:
    nwts.append(i*0.45)
print("Weights in kgs: ",nwts)

Enter no of students: 4
Enter weights in lbs
150 155 145 148
Weights in kgs:  [67.5, 69.75, 65.25, 66.60000000000001]