In [ ]:
Name:Deepthi Gudibanda
    700732646

In [3]:
#Question 1
for i in range(1,6): // range strts from 1 and ends up to before num 
    print("*"*i)
for i in range(1,5):
    print ("*"*(5-i))

*
**
***
****
*****
****
***
**
*

In [1]:
#Question 2
my_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
for i in range(1,len(my_list),2):
    print(my_list[i],end=" ")

20 40 60 80 100

In [11]:
#Question 3

x= [23, 'Python', 23.98]
l=[]
for i in x: //iterations
    l.append(type(i)) // used type function and append it to list 
print(x)
print(l)

[23, 'Python', 23.98]
[<class 'int'>, <class 'str'>, <class 'float'>]

In [12]:
#Question 4

def remove_unique(l):
    return list(set(l)) // using set we can remove the duplicates 
x=[1,2,3,3,3,3,4,5]
print(remove_unique(x))

[1, 2, 3, 4, 5]

In [13]:
#Question 5
def cal(s):
    u=0
    l=0
    for i in s:
        if i.islower():
            l+=1
        if i.isupper():
            u+=1
    print("No. of Upper-case characters : ",u)
    print("No. of Lower-case Characters : ",l)
    
        
s= 'The quick Brow Fox'
cal(s)

No. of Upper-case characters :  3
No. of Lower-case Characters :  12